{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Home</h1>
  <p class="important">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    Welcome on my awesome homepage.
    <script type="text/javascript">
    $(document).ready(function() {

      var socket = io.connect('http://127.0.0.1:5000');

      socket.on('connect', function() {
        socket.send('User has connected!');
      });

      // socket.on('message', function(msg) {
      //   $("#messages").append('<li>'+msg+'</li>');
      //   console.log('Received message');
      // });
    });
    
    </script>
    <h2>
      Your values are saved!
    </h2>
    <center>
      <div class="row">
          {% for key in phase_data %}
          <div class="four columns">
            <h3>{{key}}</h3>
            <p>Current: {{phase_data[key]['current']}} A</p> 
            <p>Voltage: {{phase_data[key]['voltage']}} V</p>
            <p>Power: {{phase_data[key]['power']}} kW</p>
            <p>Cosphi: {{phase_data[key]['cosphi']}} </p>
            <p>Frequency: {{phase_data[key]['frequency']}} Hz</p>
          </div>
          {% endfor %}
      </div>
    </center>
{% endblock %}