{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Home</h1>
  <p class="important">
    Welcome on my awesome homepage.

    <h2>
      Your values are saved!
    </h2>
      <div class="row">
        <div class="phases col-9">
          {% for key in phase_data %}
          <div class="phase col-3">
            <h3>{{key}}</h3>
            <p>Current: {{phase_data[key]['current']}} A</p> 
            <p>Voltage: {{phase_data[key]['voltage']}} V</p>
            <p>Power: {{phase_data[key]['power']}} kW</p>
            <p>Cosphi: {{phase_data[key]['cosphi']}} </p>
            <p>Frequency: {{phase_data[key]['frequency']}} Hz</p>
          </div>
          {% endfor %}
      </div>
{% endblock %}