{% extends "main.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <!-- <link rel="stylesheet" href="static/style-settings.css"> -->
{% endblock %}
{% block content %}
  <h1>Settings</h1>
  <p class="important">
    Please, enter the transformer data
    <div class="settings" >
		<div class="txset">
			
		</div>

		<form method="post" action="/settings">
			<div>
				<input type="text" name ="Rating" placeholder="Rating (kVA)">   
				<input type="text" name = "RatedFrequency" placeholder="Rated frequency (Hz)">
			</div>
			
			<div>
				<input type="text" name = "Impedance" placeholder="Impedance (%)">   
				<input type="text" name = "RatedCurrent" placeholder="Rated current (A)">
			</div>
			<div>
				<input type="text" name = "PrimaryVoltage" placeholder="Primary voltage (kV)">   
				<input type="text" name = "SecondaryVolatage" placeholder="Secondary voltage (kV)">
			</div>
			
			<div>
				<!-- <button type="button">Submit</button> -->
				<!-- <input type="submit" name= "form" value="Submit" /> -->
				<input class="btn btn-primary" type="submit" name="submit_btn" value="submit">
			</div>
		</form>

	</div>
{% endblock %}

<!-- 
<html>
<head>
	<title> Smart Meter </title>
	<link rel="stylesheet" href="static/style-settings.css">
</head>
<body>
	<div class="container">
		<div class="menu">
			<ul> 
				<li class="logo"><img src="static/logo.jpg"></li>
				<li class="set" >Settings</li>
				<li>Metering</li>
				<li>Graphs</li>
			</ul>	
	</div>
	<div class="settings" >
		<div class="txset">
			<h1>Please, enter the transformer data</h1>	
		</div>
		<div>
			<input type="text" placeholder="Rating (kVA)">   <input type="text" placeholder="Rated frequency (Hz)">
		</div>
		
		<div>
			<input type="text" placeholder="Impedance (%)">   <input type="text" placeholder="Rated current (A)">
		</div>
		<div>
			<input type="text" placeholder="Primary voltage (kV)">   <input type="text" placeholder="Secondary voltage (kV)">
		</div>
		
		<div>
			<button type="button">Submit</button>
		</div>
	</div>



</body>
</html> 
 -->